{% extends 'mailing/base.html' %}
{% block content %}
<div class="row">
    <div class="col-9">
        <div class="container">
            <div class="row">
                <a href="{% url 'mailing:add_mailing' %}" class="btn btn-primary">Создать рассылку</a>
                <div class="row mb-2">
                    {% for obj in object_list %}
                    <div class="col-md-4">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                {% if obj.at_work %}
                                <strong class="d-inline-block mb-2 text-primary-emphasis">Рассылка в работе</strong>
                                {% else %}
                                <strong class="d-inline-block mb-2 text-primary-emphasis">Не активна</strong>
                                {% endif %}
                                <h3 class="mb-0">{{ obj.title }}</h3>
                                <div class="mb-1 text-body-secondary">Успешных отправок: {{ obj.attempts }}</div>
                                <p class="card-text mb-auto">{{ obj.content }}</p>
                                <a href="{% url 'mailing:detail' obj.pk %}"
                                   class="icon-link gap-1 icon-link-hover stretched-link">
                                    <svg class="bi">
                                        <use xlink:href="#chevron-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="container">
                        <ul class="list-group list-group-flush">
                            <a href="{% url 'mailing:add_client' %}" class="btn btn-primary">добавить клиента</a>
                            <li class="list-group-item"><h3>список клиентов</h3></li>
                            {% if not client_list %}
                            <li class="list-group-item">пока пустой</li>
                            {% else %}
                            {% for client in client_list %}
                            <li class="list-group-item">{{ client.name }}</li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
    </div>
</div>
{% endblock %}