{% extends 'mailing/base.html' %}
{% block content %}
<div class="row">
    <div class="col-12 justify-content-center">
        <div class="container">
            <div class="row">
                <a href="{% url 'mailing:add_mailing' %}" class="btn btn-primary">Создать рассылку</a>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                {% if object.at_work %}
                                <strong class="d-inline-block mb-2 text-primary-emphasis">Рассылка в работе</strong>
                                {% else %}
                                <strong class="d-inline-block mb-2 text-primary-emphasis">Не активна</strong>
                                {% endif %}
                                <h3 class="mb-0">{{ object.title }}</h3>
                                <div class="mb-1 text-body-secondary">Успешных отправок: </div>
                                <p class="card-text mb-auto">{{ object.content }}</p>
                                <p class="card-text mb-auto">Дата запуска: {{ object.departure_date }}</p>
                                {% if object.next_send_date %}
                                <p class="card-text mb-auto">слудующая отправка: {{ object.next_send_date }}</p>
                                {% endif %}
                                <p class="card-text mb-auto">Периодичность: раз в {{ object.periodicity }}
                                    {% if object.periodicity == 1 %}
                                    день </p>
                                    {% else %}
                                    дней </p>
                                    {% endif %}
                                <a href="{% url 'mailing:edit' object.pk %}">редактировать</a>
                                <a href="{% url 'mailing:delete' object.pk %}">удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}