{% extends 'mailing/base.html' %}
{% block content %}
<div class="row">
    <div class="col-12 justify-content-center">
        {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <a href="{% url 'mailing:add_mailing' %}" class="btn btn-primary">Создать рассылку</a>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                {% if object.at_work %}
                                <strong class="d-inline-block mb-2 text-primary-emphasis">Рассылка в работе</strong>
                                {% else %}
                                <strong class="d-inline-block mb-2 text-primary-emphasis">Не активна</strong>
                                {% endif %}
                                <h3 class="mb-0">{{ object.title }}</h3>
                                <div class="mb-1 text-body-secondary">Успешных отправок: </div>
                                <p class="card-text mb-auto">{{ object.content }}</p>
                                <a href="{% url 'mailing:edit' object.pk %}" class="icon-link gap-1 icon-link-hover stretched-link">
                                    редактировать
                                    <svg class="bi">
                                        <use xlink:href="#chevron-right"></use>
                                    </svg>
                                </a>
                                <a href="{% url 'mailing:delete' object.pk %}" class="icon-link gap-1 icon-link-hover stretched-link">
                                    удалить
                                    <svg class="bi">
                                        <use xlink:href="#chevron-right"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <svg class="bd-placeholder-img" width="200" height="250"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#55595c"></rect>
                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h1>MAILING</h1>
                    <p>
                    <h3>Наш вебпроект помогает Вам рассылать письма по всему интернету!</h3></p>
                    <p>
                    <h3>Для первого шага Вам следует</h3><a href="{% url 'users:login' %}" class="btn btn-primary"><h3>
                    Войти</h3></a> или <a href="{% url 'users:register' %}" class="btn btn-primary"><h3>
                    Зарегистрироваться</h3></a>
                </div>
                <div class="col-6">

                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}