{% extends 'mailing/base.html' %}
{% block content %}
<div class="row">
    <div class="col-8 justify-content-center">
        <div class="col-md-8" style="margin-left:18px">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="title">Заголовок</span>
                    <input name="title" type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group">
                    <span class="input-group-text">Содержание</span>
                    <textarea name="content" class="form-control" aria-label="content"></textarea>
                </div>
                <p></p>
                {% include 'mailing/includes/datetimepicker.html' %}
                <p></p>

                <select name="periodicity" class="form-select" aria-label="Default select example">
                    <option selected>Периодичность</option>
                    <option value="1">раз в день</option>
                    <option value="7">раз в неделю</option>
                    <option value="30">раз в месяц</option>
                </select>
                    <p></p>
           <div class="input-group">
                    <span class="input-group-text">Список получателей</span>
                    <textarea name="recipient_list" class="form-control" aria-label="recipient_list"></textarea>
                </div>
                    <p></p>
                         <div class="form-check">
                    <input name="at_work" class="form-check-input" type="checkbox" value="True" id="at_work">
                    <label class="form-check-label" for="at_work">
                        В работе
                    </label>
                    <p></p>
                    <button type="submit" class="btn btn-primary">Подтвердить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}