<nav class="nav v">
  <a class="nav-link active" aria-current="page" href="/">Главная</a>
  {% if user.is_authenticated %}
    <form method="post" action="{% url 'users:logout' %}">
        {% csrf_token %}
        <button class="btn" type="submit">Выйти</button>
    </form>
    <a class="nav-link" href="{% url 'users:profile' user.pk %}">Профиль</a>
    {% else %}
    <a class="nav-link" href="{% url 'users:login' %}">Авторизация</a>
    <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
    {% endif %}
</nav>